#root {
  display: flex;
  height: 100vh;
}
.left {
  padding-right: 20px;
  padding-left: 20px;
  width: 40%;
  background-color: aliceblue;
}
.right {
  padding-right: 10px;
  padding-left: 10px;
  width: 60%;
  background-color: antiquewhite;
}
.title {
  color: blueviolet;
  font-size: 36px;
}
.button {
  color: blue;
  font-size: 20px;
  border: 1px solid blueviolet;
}
.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  text-align: left;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-book {
  font-size: 18px;
}

.btn {
  padding: 5px 5px;
  height: 30px;
  width: 70px;
  border-radius: 8%;
  font-weight: bold;
  border: 0.5px solid blueviolet;
}
.btn-delete {
  color: blueviolet;
  background-color: aliceblue;
}

.btn-edit {
  color: aliceblue;
  background-color: blueviolet;
}
